{
    "extends": [
        "eslint:recommended"
    ],
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2
    }
}
