.thumbFav__icon {
    width: 25px;
    height: 25px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    &.fav {
        -webkit-filter: none;
        filter: none;
    }
}

.thumbFav {
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 20px;
    cursor: pointer;
}
