.thumb-large {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    text-align: center;
}

.thumb-large__img {
    max-width: 100%;
}

.thumb-large__wrapper {
    margin-top: 50px;
    background: #fff;
    padding-left: 0!important; //because css-loader order of styles is not garunteed!
    padding-right: 0!important;
}

.thumb-large__close {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 20px;

    &:hover {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .thumb-large__img {
        max-height: 700px;
    }
}
