.thumbnail{
    margin-bottom: 10px;
    overflow: hidden;
    height: 200px;
}

.thumbnail__wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

.thumbnail__image {
    visibility: hidden;
}
